<div id="locate_all_input">
	<h3><label for="locate_all_address">Find your meals!</label></h3>
	<input type="text" id="locate_all_address" title="Pick your area through dropdown."> 
	<button type="button" id="locate_current" class="btn btn-success btn-sm" title="Find my current location">
		<span class="glyphicon glyphicon-map-marker"></span>
	</button>
</div>

<div id="map_all" class="locate_all_gmap3">
	<!-- input map will be shown here -->
</div>

<div id="map_all_result"></div> 