/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { 
	padding-top: 50px;
}
#select_bar{
	margin-top: 50px;
}
#meals_in{
	text-align: center;
	padding:0px;
}
#meals_in_font{
	font-size: 120%;
}
#title strong{
	font-size: 150%;
}
#menu{
  margin-right: 20px;
}
  .menu_icon{
    font-size: 180%;
  }
  .sign_out{
  	margin: 10px 10px;
  	font-size: 120%;
  }
a:hover{
  text-decoration: none;
};